.container {
  max-width: 900px;
  margin: 40px auto;
  padding: 20px;
  background: #fefefe;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.controls {
  display: flex;
  gap: 10px;
  margin-bottom: 15px;
}

input,
select,
button {
  padding: 8px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

button {
  cursor: pointer;
  background-color: #007bff;
  color: white;
}

button.delete {
  background-color: #dc3545;
}
.actions {
  text-align: right;
  margin-bottom: 1rem;

  .add {
    background: #38b000;
    color: white;
    padding: 0.5rem 1rem;
    border-radius: 8px;
    border: none;
    cursor: pointer;
  }

  .add:hover {
    background: #2b9348;
  }
}
