@import '../employer-form/employer-form.component.scss';

.btn-secondary {
  margin-top: 1rem;
  width: 100%;
  background: #ecf0f1;
  color: #2c3e50;
  border: none;
  border-radius: 8px;
  padding: 12px;
  font-size: 15px;
  cursor: pointer;
  transition: all 0.2s;

  &:hover {
    background: #dcdde1;
  }
}
